!.gitignore
._*
_src/db-content/previous/*.sql.*
.afpDeleted*
.AppleDouble/
.buildstamp
.DS_Store
.env*
.idea/
.phpunit*
.vagrant/
logs/*
!logs/.htaccess
node_modules/
sitemap*.xml
Thumbs.db
vendor/
wp-config-sample.php
yarn.lock
wp-content/
